@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: #333333;
    font-size: 16px;
}

accordion-item:first-of-type {
    margin-top: 3rem;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
